app:
  name: book-rental-backend
  address: localhost
  port: 8080

database:
  host: postgres
  port: 5432
  user: developer
  password: test1234
  name: app
  ssl_mode: disable

cache:
  type: redis
  host: redis
  port: 6379
  username:
  password:
  ssl: false

object_storage:
  type: minio
  access_key: minioadmin
  secret_key: minioadmin
  host: minio
  region: ap-southeast-1

jwt:
  expiration_in_second: 3600
  issuer: example
  signing_method: SigningMethodHS256
  signature_key: the secret of baleendah

message_broker:
  type: kafka
  username:
  password:
  brokers: 
    - "localhost:9092"
    - "localhost:9093"